/* A COMPLETER */

.detournee {
    font-style: italic;
    color: blue
}
.contandante {
  font-weight: bold;
}
article h2,h1,h3 {
  color: red
}
article>section>section>ul>li>ul>li {
  color: green;
}
img {
width:50px;
height:50px;
}

